<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBNB Filters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/6-filters.css') }}">
    <!-- Add other stylesheets -->
</head>
<body>
    <h1>HBNB Filters</h1>
    
    <!-- State Filter -->
    <h3>States</h3>
    <ul>
        {% for state in states %}
        <li>{{ state.name }}</li>
        {% endfor %}
    </ul>

    <!-- City Filter -->
    <h3>Cities</h3>
    <ul>
        {% for city in cities %}
        <li>{{ city.name }}</li>
        {% endfor %}
    </ul>

    <!-- Amenity Filter -->
    <h3>Amenities</h3>
    <ul>
        {% for amenity in amenities %}
        <li>{{ amenity.name }}</li>
        {% endfor %}
    </ul>

</body>
</html>
